/* Fonts */
@font-face {
  font-family: Norse;
  src: url(fonts/Norse-Bold.otf);
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F9FAFB;
}

p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: normal;
}

em {
  font-style: italic;
}


.window-container {
  display: flex;
  height: 100vh;
}

.window-left {
  background-image: url(img/ferns.jpg);
  background-position: center;
  background-size: cover;
  width: 30vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-left .img-attribution {
  position: absolute;
  bottom: 16px;
}


.window-left .logo-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 150px;
  justify-content: center;
  margin-top: 224px;
  width: 100%;
}

.window-left .logo-container>img {
  height: 127px;
}

.window-left .logo-title {
  color: #fff;
  font-family: Norse, sans-serif;
  font-size: 10rem;
}

.window-left .img-attribution {
  color: #fff;
  font-size: 1.6rem;
}


.window-right {
  width: 70vw;
}

.call-to-action {
  height: 300px;
  padding-top: 80px;
  padding-left: 47px;
  max-width: 800px;
}

.form-section {
  background-color: #fff;
  height: 300px;
  padding-left: 47px;
  padding-top: 20px;
}

input {
  font-size: 2rem;
  border: 2px solid #EDEEF1;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: #7B97E8;
}

form {
  margin-top: 10px;
}

label {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  color: #2A3441;
}